{% extends 'base.html' %}
{% load staticfiles account %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
 <!-- START Head -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <title>
         Hedge Alpha - Register
    </title>

    <!--START Loader -->
    <style>
        #initial-loader{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;background:#212121;position:fixed;z-index:10000;top:0;left:0;bottom:0;right:0;transition:opacity .2s ease-out}#initial-loader .initial-loader-top{display:flex;align-items:center;justify-content:space-between;width:200px;border-bottom:1px solid #2d2d2d;padding-bottom:5px}#initial-loader .initial-loader-top > *{display:block;flex-shrink:0;flex-grow:0}#initial-loader .initial-loader-bottom{padding-top:10px;color:#5C5C5C;font-family:-apple-system,"Helvetica Neue",Helvetica,"Segoe UI",Arial,sans-serif;font-size:12px}@keyframes spin{100%{transform:rotate(360deg)}}#initial-loader .loader g{transform-origin:50% 50%;animation:spin .5s linear infinite}body.loading {overflow: hidden !important} body.loaded #initial-loader{opacity:0}
    </style>
    <!--END Loader-->

    <!-- SCSS Output -->
    <link rel="stylesheet" href="{% static 'css/app.min.e0bb64e7.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- START Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- END Favicon -->

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="atom.xml">

    <!-- jekyll settings -->
    <script>
        var ASSET_PATH_BASE = '';
    </script>
</head>
<!-- END Head -->

<body class="sidebar-disabled navbar-disabled footer-disabled loading">
    <div id="initial-loader">
    <div>
        <div class="initial-loader-top">
            <img class="initial-loader-logo" src="{% static 'img/hedge-loading.png' %}" alt="Loader">
            <div class="loader loader--style1">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                    <g>
                        <path fill="#2d2d2d" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z">
                        <path fill="#2c97de" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z">
                    </g>
                </svg>
            </div>
        </div>
        <div class="initial-loader-bottom">
            Loading. Please Wait. <i class="fa fa-cricle" style="opacity: 0"></i>
        </div>
    </div>
</div>

<script src="{% static 'vendor/js/lib.min.js' %}"></script>

<div class="content hedgebackground">
  <div class="container-fluid">
    <a class="btn btn-default m-t-2 m-b-1 action-navigate-back" href="#" role="button"><i class="fa fa-angle-left m-r-1"></i> Back</a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                <div class="headerbg panel-heading text-center">
                    <a href="#"> <img src="https://rublix.io/images/hedgea_logo.png" alt="Logo" class="m-t-3 m-b-3 h-60"></a>
                </div>
                <div class="panel-body">
                    <h2 class="text-center f-w-300 m-b-0" style="letter-spacing:2px;">Register</h2>
                    <p class="text-center m-b-3">Please fill in the following details to open an account on the Hedge platform.</p>
                    <form>
                        <div class="form-group">
                            <label>Full Name</label>
                            <input name="fullname" class="form-control" placeholder="First Name and Last Name" required>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input name="username" class="form-control" placeholder="Enter a Username" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" class="form-control" placeholder="Enter a Password" required>
                        </div>
                        <div class="form-group">
                            <label>Repeat Password</label>
                            <input name="password2" class="form-control" placeholder="Repeat Password" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" class="form-control" placeholder="Enter an Email Address" required>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input name="phone" class="form-control" placeholder="Enter a Phone Number" required>
                        </div>
                        <div class="form-group">
                            <label>Wallet Address</label>
                            <input name="walletid" class="form-control" placeholder="0x0000" required>
                        </div>
                        <div class="form-group" id="daterangepicker-container">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control" name="daterange-singe-date-picker" value="10/24/1984">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="terms" type="checkbox"> I Accept the Rublix Terms &amp; Privacy Policy
                            </label>
                        </div>
                        <a href="#" role="button" class="btn m-b-2 btn-block btn-primary">Register</a>
                    </form>
                </div>
                <div class="panel-footer b-a-0 b-r-a-0">
                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    <a href="{% url 'account_login' %}" class="pull-right">Login</a>
                </div>
            </div>
            <p class="text-gray-light text-center"><strong>Hedge &#x3B1; </strong> <span class="text-gray-light">&#xA9; 2017 Rublix Development</span></p>
        </div>

    </div>
</div>
        <script src="{% static 'vendor/js/moment.min.js' %}"></script>
        <script src="{% static 'vendor/js/daterangepicker.min.js' %}"></script>
        <script src="{% static 'js/date-range-picker-settings.js' %}"></script>
</div>

    <script>
        // Hide loader
        (function() {
            var bodyElement = document.querySelector('body');
            bodyElement.classList.add('loading');

            document.addEventListener('readystatechange', function() {
                if(document.readyState === 'complete') {
                    var bodyElement = document.querySelector('body');
                    var loaderElement = document.querySelector('#initial-loader');

                    bodyElement.classList.add('loaded');
                    setTimeout(function() {
                        bodyElement.removeChild(loaderElement);
                        bodyElement.classList.remove('loading', 'loaded');
                    }, 200);
                }
            });
        })();
    </script>

    <!-- Bower Libraries Styles -->
    <link rel="stylesheet" href="{% static 'vendor/css/lib.min.css' %}">

    <script src="{% static 'js/app.min.13a3a368.js' %}"></script>

    <script src="{% static 'js/plugins-init.js' %}"></script>
    <script src="{% static 'js/switchery-settings.js' %}"></script>
</body>

</html>
{% endblock %}
